* {
    margin: 0;
    padding: 0;
    box-sizing: borderbox;
    font-family: "Poppins", sans-serif;

}
body {
    min-height: 100vh;
    background: rgb(230, 210, 235);
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapper {
    position: relative;
    max-width: 470px;
    width: 100%;
    padding: 20px 30px 120px;
    background: violet;
    box-shadow: 5px 5px 3px rgb(161, 115, 161);
} 
.form header {
    text-align: center;
    font-size: 30px;
    color: black;
}
.wrapper form {
    display: flex;
    flex-direction: column;
    gap: 10px;
 
}
.favicon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
